/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */

@font-face {
    font-family: 'MonospaceFont';
    src: url('/fonts/MajorMonoDisplay-Regular.ttf') format('truetype')
}

:root {
    --font: 'MonospaceFont', monospace;
}

html {
    font-family : var(--font)
}